.containerAll {
    display: flex;
    justify-content: center;
}

.containerPro {
    width: 60%;
    height: 435px;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 15px;
}

.danger {
    display: 'block';
    margin-top: '7px';
    color: red;
    font-size: '13px';
}