body {
  background-color: rgb(245, 237, 237);
}
.containerUser {
  position: relative;
  left: 30%;
  margin-top: 1rem;
}

h3 {
  margin-top: 2rem;
}

.containerUser input.password {
  border-color: grey;
} 
.containerUser ::-webkit-input-placeholder {
  color: rgb(87, 82, 82);
}

.inputSize {
  width: 500px;
}

.ant-btn-primaryG {
  margin-left: 180px;
}

@media screen and (max-width: 879px) {
  .inputSize {
    width: 420px;
  }
}

@media screen and (max-width: 659px) {
  .inputSize {
    width: 380px;
  }
}

@media screen and (max-width: 600px) {
  .inputSize {
    width: 300px;
  }
}