.order-table{
margin: 2rem;
box-shadow: 10px 4px 24px 0px rgba(204,204,204,1);
border-radius: 8px;
position: relative;
text-align: left;
}
.order-table div{
    margin-top: 1rem;
    padding-top:1rem;
}
.order-table div span{
    padding: 1rem;
}
.order-table .botones{
    position:absolute;
    top:0;
    right: 0;
    margin-top: 0rem;
    padding-top:0rem;

}