.cart {
    margin: 1%;
}

.tituloCart {
    display: flex;
    justify-content: flex-start;
}

.orderCart {
    margin-right: 2%;
}

.checkout {
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
}

.empty {
    margin: 5%;
}