.catalogContainer {
    width: 50%;
    /* height: 15%; */
    /* padding: 2rem; */
    /* padding-top: 3rem; */
    /* margin: 2rem; */
}

.catalogContainer button {
    margin-top: 1rem;
}

.catalogContainer select {
    margin-bottom: 3rem;
}
.containerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
