.catalogContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: baseline;
}

.catalogContainer select {
    width: 20%;

}
.containerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
