html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://cdn.pixabay.com/photo/2014/12/15/17/18/prague-569352_960_720.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.textColor {
    color: white;
}

.orange-text {
    color: orange;
}

.red-text {
    color: red;
}

.blue-text {
    color: blue;
}
