.home {
    height: 86.6vh;
    width: 100%;
    background-image: url('https://www.decathlon.cl/modules/ps_imageslider/images/58da9df6d954063b69c67b4b047af5e00c98a652_respira-deporte-1.jpg');
    background-size: cover;
}