.cardStyle {
border: solid 1px grey;
border-radius: 15px;
margin: 20px;
width: 30%;
display: inline-block;
}
.button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: black
}

.img {
    width: auto;
    height: 9.5rem;
    border-radius: 1rem;

}
.b {
    background: linear-gradient(to top, #004e92, #000428);
    color: white;
}

.titleCard a {
    text-decoration: none;
    
}

.titleCard {
    text-decoration: none;
    color: black;

    margin-top: 1rem;
}

.containerImgTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}