.NavbarAdmin {
    width: 100%;
    height: 2rem;
    background-color: rgb(10, 50, 100);
    position: fixed;  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:20
}

.NavbarAdmin a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-right: 1px solid grey;
    margin-left: 2rem;
}
.NavbarAdmin a {
    padding-right:30px;
    width: 163px;

}
.NavbarAdmin a:hover {
    color: yellow;
    font-size: 18px;
    font-weight: bold;
}
.containerNavAdmin {
    padding-bottom: 50px;
}