.optionContainer {
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.containerLogo {
    display: flex;
    margin-left: 30px;
}

.option {
    position: relative;
    right: 18%;
    font-size: 25px;
    color: white;
}

.img {
    width: 25%;
}
.container {
display: flex;
align-items: flex-end;
}




